.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 4px;
  width: 90%;
  max-width: 500px;
  max-height: 350px;
  overflow: auto;
}

.container_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.date_start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.date_hour {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container_image_hour {
  margin: 0;
  padding: 0;
  display: flex;
  padding-right: 20px;
}

.container_image_description,
.container_image_client {
  margin: 0;
  padding: 0;
  display: inline;
  padding-right: 20px;
}

.container_image_client {
  padding-top: 2px;
  padding-right: 15px;
}

.date_hour > input {
  border: none;
  display: flex;
  color: #686b6e;
  padding: 10px;
}

.from_title {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.from_title > input {
  border: none;
  border-bottom: 1px solid #dbdbdb;
  width: 57%;
  font-size: 22px;
}

.container_info,
.container_info_add,
.container_client {
  display: flex;
  flex-direction: row;
}

.container_info_description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  
}

.container_info_add {
  width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.container_info {
  padding-bottom: 30px;
}


input:focus{
  outline: none;
  box-shadow: none; /* Elimina el borde de enfoque predeterminado */
}

/* Estilo opcional para el enfoque */
input:focus {
  outline: none;
}

.autocomplete_select {
  position: relative;
  width: 100%;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.options_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.options_list li {
  padding: 3px 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.options_list > li > span {
  /* color: #0b0c0c; */
  font-size: 14px;
}

.options_list li:hover {
  background-color: #f0f0f0;
}

.options_list li.disabled_option {
  color: #999;
  cursor: not-allowed;
}

.selected_options {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0;
}

.selected_options li {
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected_options li button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.selected_options li button:hover {
  text-decoration: underline;
}

.selected_option:hover {
    background-color: #e9e9e952;
}

.container_availability {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container_availability > input {
    width: 19px;
}


.container_capacity_max {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.container_price_app {
  display: flex;
  justify-content: flex-end;
}

.container_capacity_max > span {
  font-size: 11px;
  color: #686b6e;
}

.container_price_app > span {
  font-size: 11px;
  color: #686b6e;
}

.container_image_client_price {
  font-size: 21px;
  color: #5f6368;
  font-weight: 500;
  padding-left: 6px;
}

.container_buttons {
  display: flex;
  justify-content: flex-end;
}

.add_description {
  color: #686b6e;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
}

.p_dto {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
}

.p_span_dto {
  text-decoration: line-through;
  color: #918f8f;
}