.container_room {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 20px;
}


.background {
     /* Cambia esta ruta a la ubicación de tu imagen */
    background-size: cover;
    background-attachment: fixed; /* Esto asegura que la imagen de fondo no se mueva al hacer scroll */
    background-repeat: no-repeat;
    height: 100vh; /* Esto asegura que el fondo cubra toda la ventana del navegador */
    width: 100%;
    margin-bottom: 50px;
  }
  
  .content {
    /* Estilos adicionales para tu contenido */
    text-align: center;
    padding: 20px;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    color: #000;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
  }

  .content_logo {
    width: 300px;
  }

  .content_descrip {
    padding: 20px;
    color: #000;
    /* color: #fff; */
    /* border: 1px solid #fff; */
    font-size: 18px;
    font-weight: 500;
  }

  .local_services {

  }

  .services_title {

  }

  .services {

  }

  .rooms {

  }

  .rooms_title {

  }

  .rooms_title > h3 {
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: #fff;
    letter-spacing: 2px;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid white;
    max-width: 350px;
    margin: auto;
  }

  .titulo_es_h1 {
    background-color: red;
  }