.container_room {
  background-color: #fff;
}

.room_container_image_info {
}

.room_images {
}

.detail_container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.detail_prop {
  font-size: 14px;
  color: #686b6e;
}

.type_room {
  position: absolute;
  z-index: 1;
  padding: 3px 5px;
  background-color: #9e2d49;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0px 0px 6px 1px #00000029;
}

.detail_value {
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.room_info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 15px;
  max-height: 264px;
  overflow: auto;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
}

.room_info_title {
}

.room_info_title > p {
  font-size: 24px;
  font-weight: 500;
  line-height: 2rem;
  margin: 0;
}

.room_info_info_prop_value {
}

.room_info_services {
  max-width: 450px;
}

.services_title {
  font-size: 16px;
  font-weight: 600;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 3px;
}

.services > span {
  font-size: 14px;
  color: #686b6e;
}

.room_info_desc {
  padding: 10px;
  color: #686b6e;
  margin: 10px;
  text-align: justify;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.room_info_huors {
  padding: 10px;
}

.huors {
  margin-left: 10px;
}

.cont_huors {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  font-size: 14px;
  color: #686b6e;
}

.huor_day {
}

.day_hour {
  color: #4caf50;
}

.closed {
  color: #f44336;
}

@media (min-width: 600px) {
  .room_info {
    padding: 0 10px;
    margin: auto;
    margin-top: 0;
  }
}

@media (min-width: 850px) {
  .room_info {
    margin-left: 0;
  }
  .room_container_image_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
  }
}

.container_dtos {
}

.container_dtos_p {
  font-size: 14px;
  color: #686b6e;
}

.cont_dtos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #000;
}

.dtos {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.dto {
  padding: 3px 5px;
  background-color: #9e2d49;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  width: 68px;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

.dto_horus {
  font-weight: bold;
  font-size: 14px;
}
