.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f5f5f5;
}

.title {
    font-size: 72px;
    color: #9e2d49;
    margin: 0;
}

.message {
    font-size: 24px;
    color: #450c1f;
    margin: 20px 0;
}

.homeLink {
    font-size: 18px;
    color: #210110;
    text-decoration: none;
    border: 2px solid #210110;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.homeLink:hover {
    background-color: #210110;
    color: #feffd5;
}
