/* src/components/ServicesModal.css */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 4px;
    width: 90%;
    max-width: 500px;
    max-height: 350px;
    overflow: auto;
  }
  
.header_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header_title h2 {
  margin: 0;
}

.close-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  color: #666666;
}

.service-list {
  margin-bottom: 20px;
}

.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.service-actions button {
  margin-left: 10px;
}

.new-service input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.new-service button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.buttons button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.buttons button:last-child {
  margin-left: 0;
}