.container_card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 6px 1px #00000029;
  flex-direction: column;
  display: flex;
  height: 394px;
  width: 265px;
  overflow: hidden;
  justify-content: space-between;
  color: #454548;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.container_card:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.container_image {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;
  height: 200px;
}

.container_image_img {
  height: 100%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.container_info {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
}

.container_detail {
  padding: 20px;
}

.container_detail_title {
  display: flex;
  justify-content: flex-start;
  padding: 0 0 15px 0;
}

.span_title {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container_detail_info {
  border-top: 1px solid #dddede;
  padding: 16px 0;
}

.detail {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.detail_value {
  font-size: 12px;
}

.container_info__button {
  background-color: #450c1f;
  width: 100%;
  color: #fff;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.container_info__button:focus,
.container_info__button:hover {
  background-color: #9e2d49;
  color: #fff;
  outline: none;
  box-shadow: none;
}

.span_inf {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.container_info_dtos {
  font-size: 12px;
  transition: opacity 0.3s, max-height 0.3s;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}

.container_card.show_dtos .container_info_dtos {
  max-height: 100px;
  opacity: 1;
}

.container_dtos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.cont_dtos {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
}

.dto {
  padding: 3px 5px;
  background-color: #9e2d49;
  color: #fff;
  border-radius: 5px;
  font-size: 11px;
  width: 45px;
  text-align: center;
}

.dto_horus {
  font-weight: bold;
}


.type_room {
  position: absolute;
  z-index: 1;
  right: 0;
  padding: 3px 5px;
  background-color: #9e2d49;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0px 0px 6px 1px #00000029;
}