/* Perfil.module.css */
:root {
    --color-primary: #9e2d49;
    --color-secondary: #c6b89e;
    --color-accent: #feffd5;
    --color-background: #210110;
    --color-input-bg: #450c1f;
    --color-text: #d3c4a5;
  }
  
  .container_perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--color-background);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }
  
  .label {
    color: var(--color-text);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .input {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-input-bg);
    color: var(--color-text);
    margin-top: 0.5rem;
  }
  
  .input:focus {
    outline: none;
    box-shadow: 0 0 5px var(--color-accent);
  }
  
  .button {
    padding: 0.75rem;
    margin-top: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: var(--color-text);
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: var(--color-secondary);
  }
  