.container {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 20px;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.title {
  text-align: center;
  color: #262626;
  font-size: 24px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.label {
  display: block;
  font-size: 14px;
  color: #8e8e8e;
  margin-bottom: 5px;
}

.input {
  padding: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  font-size: 16px;
  background-color: #fafafa;
  transition: border-color 0.2s;
  color: #000;
}

.input:focus {
  border-color: #a8a8a8;
  outline: none;
}

.button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #450c1f;
  width: 100%;
  color: #fff;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #9e2d49;
  color: #fff;
  outline: none;
  box-shadow: none;
}
