.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.carousel-container {
  overflow: hidden;
  width: 100%;
  display: flex;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card-slide {
  flex: 0 0 auto;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
