.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #fff; /* Color de borde más suave */

  }
  
  .title {
    font-size: 24px;
    color: #210110;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  .input {
    padding: 10px;
    border: 1px solid #c6b89e;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    max-width: 300px;
    width: 90%;
    background-color: #fff;
    color: #000;
  }
  
  .button {
    background-color: #9e2d49;
    color: #feffd5;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #450c1f;
  }
  
  .message {
    font-size: 14px;
    color: #210110;
    margin-top: 20px;
    max-width: 240px;
    text-align: center;
  }
  
  .backLink {
    color: #666363;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .backLink:hover {
    text-decoration: underline;
  }
  
