.container__section_room{
    margin: auto;
    max-width: 90%;
    margin-top: 40px;
}



.container_section_header {
    line-height: 19px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.container_section_header_titles {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
}

.title {
    margin-right: 0;
}

.title_link {
    font-size: 20px;
    font-weight: 600;
}

.sub_title {
    box-sizing: border-box;
}

.sub_title_link{
    font-size: 14px;
    font-weight: 600;
    padding: 9px 12px 7px;
    color: #bf2424;
}

.container__section_rooms {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.container__section_event{
    margin: auto;
    max-width: 90%;
    margin-top: 40px;
}

.container__section_events {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}