/* PrintAppointment.module.css */

.container_print {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #d3d3d3;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  z-index: 9000;
  }

  .print {
    max-height: 500px;
    overflow: auto;
    padding: 20px;
    background-color: #fff;
  }

  .print_container {
    padding: 20px;
    background-color: #fff;
    min-height: 1080px;
  }
  
  .print_header {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    justify-content: center;
  }
  
  .print_header_container_img img {
    width: 170px;
    height: auto;
    margin-right: 20px;
  }
  
  .print_header_container_title h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
  }
  
  .print_container_room {
    margin-bottom: 20px;
  }
  
  .container_info {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .info_prop {
    color: #555;
    font-size: 12px;
  }
  
  .info_value, .info_value_description {
    color: #555;
    font-weight: bold;
    font-size: 12px;
  }

  .info_value_description {
    font-weight: 100;
    text-align: justify;
    max-width: 1120px;
  }

  
  .container_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .title {
    font-size: 16px;
  }


  .container_buttons > button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .container_buttons > button:hover {
    background-color: #0056b3;
  }
  


/* Estilos para el calendario */
.calendar {
  border-collapse: collapse;
  width: 100%;
}

/* Estilos para las celdas del calendario */
.calendar th,
.calendar td {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 12px;
}

/* Estilos para los encabezados del calendario */
.calendar th {
  background-color: #f2f2f2;
}

/* Estilos para las celdas del calendario */
.calendar td {
  cursor: pointer;
}

/* Estilos para las celdas en blanco del calendario */
.calendar td.blank {
  background-color: #f8f8f8;
}