.container{
    background-color: #C5B89F;
    display: flex;
    flex-direction: row;
    flex-wrap:  nowrap;
    max-width: 100%;
   
}

.footer_container{
    display: flex;
    flex-direction: row;
    flex-wrap:  nowrap;
    max-width: 100%;
}

.footer_element{
    color: #000;  
    font-size: x-large; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;     
}

h3{
    font-weight: bold;
}

a {
    color: #000 !important;
    font-size: x-large;
    display: flex;
    flex-direction: column;
}


p{
   color: #1a1a1a; 
   font-size: x-large;
}

.footer_redes{
    color: #000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
}