.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
}

.active {
  display: block;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #00000014;
  color: #fff;
  border: none;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}