/* General Styles */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal {
  background: #fff;
  border-radius: 8px;
  max-width: 370px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.containerForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 12px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Title */
.formTitle {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
  border-bottom: 1px solid #d5d5d5;
}

/* Days Selection */
.containerDaysSelect {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.containerDay {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
}

.day {
  font-weight: bold;
  color: #545454;
}

.closeDay {
  cursor: pointer;
  color: red;
}

/* Time Input */
.dateStart {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

.containerImageHour {
  display: flex;
  align-items: center;
}

.imageHour {
  width: 20px;
  height: 20px;
}

.containerTime,
.containerTimeEnd {
  position: relative;
  width: 100%;
}

.inputTime {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  transition: border-color 0.2s;
  background-color: #fff;
  color: #000;
}

.inputTime:focus {
  border-color: #9e2d49;
}

.options {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #5e5e5e;
}

.option {
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background: #f0f0f0;
}

.spaceTime {
  font-size: 1.2em;
  color: #333;
}

/* Error Message */
.error {
  color: red;
  font-size: 0.9em;
}

/* Capacity Information */
.containerCapacityMax {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000;
}

.containerClient {
  margin-top: 20px;
}

.autocompleteSelect {
  position: relative;
}

.containerAvailability {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pDto {
  margin: 0;
  text-align: left;
}

.dtp {
  font-weight: bold;
  color: #27ae60;
}

.dtoHours {
  font-size: 0.9em;
  color: #555;
}

/* Buttons */
.containerButtons {
  display: flex;
  justify-content: space-between;
}

.buttonReserve,
.buttonCancel {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.2s;
}

.buttonReserve {
  background: #9e2d49;
  color: #fff;
}

.buttonCancel {
  background-color: #545454;
  color: #feffd5;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}

.buttonInavil {
  background-color: #a5a4a4;
  color: #feffd5;
  border: none;
  padding: 8px 16px;
  cursor: not-allowed;
  border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .modal {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .containerForm {
    gap: 15px;
  }

  .formTitle {
    font-size: 1.2em;
  }

  .inputTime {
    font-size: 0.9em;
  }

  .containerButtons {
    flex-direction: column;
    gap: 10px;
  }

  .buttonReserve,
  .buttonCancel {
    font-size: 0.9em;
  }
}
