/* UserProfile.css */
.user_profile {
    display: flex;
    align-items: flex-start; /* Cambiado para que la info se alinee en la parte superior */
    padding: 20px;
    border-radius: 10px;
    max-width: 800px; /* Ajustado para un ancho mayor */
    margin: auto;
    background-color: white;
  }

  .header_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .header_title h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .user_image img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .user_info {
    margin-left: 20px;
    flex: 1; /* Asegura que la info ocupe el espacio disponible */
  }
  
  .user_info h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .user_info p {
    margin: 10px 0;
    color: #666;
  }
  
  .user_info .description {
    margin-top: 20px;
    white-space: pre-wrap; /* Asegura que los saltos de línea se respeten */
    color: #333;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    .user_profile {
      flex-direction: column;
      align-items: center;
    }
  
    .user_info {
      margin-left: 0;
      text-align: center;
    }

    .user_info_info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
  
    .user_info .description {
      text-align: left; /* Para una mejor legibilidad en dispositivos móviles */
    }
  }
  