

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header{

}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #000;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  
  background-color: #c6b89e;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
 /* font-size: 1em; */
  font-weight: 500;
/*  font-family: inherit; */
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}



/* Estilos generales para todos los scrollbars */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #dddddd;
}

::-webkit-scrollbar-thumb {
  background: #505051;
}

::-webkit-scrollbar-thumb:hover {
  background: #505051;
}

/* Estilos para el scrollbar vertical */
::-webkit-scrollbar:vertical {
  width: 4px; /* Cambia a un ancho mayor */
}

::-webkit-scrollbar-track:vertical {
  background: #cccccc; /* Ejemplo: Cambiar el color de fondo */
}

::-webkit-scrollbar-thumb:vertical {
  background: #606061; /* Ejemplo: Cambiar el color del thumb */
}

::-webkit-scrollbar-thumb:vertical:hover {
  background: #606061; /* Ejemplo: Cambiar el color del thumb cuando está siendo activado */
}

/* Estilos para el scrollbar horizontal */
::-webkit-scrollbar:horizontal {
  height: 4px; /* Cambia a un alto mayor */
}

::-webkit-scrollbar-track:horizontal {
  background: #bbbbbb; /* Ejemplo: Cambiar el color de fondo */
}

::-webkit-scrollbar-thumb:horizontal {
  background: #707071; /* Ejemplo: Cambiar el color del thumb */
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: #707071; /* Ejemplo: Cambiar el color del thumb cuando está siendo activado */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #450c1f;
  }
  button {
    background-color: #f9f9f9;
  }
}

