.container {
  background-color: #3a39399c;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new_room {
  background-color: #fff;
  border-radius: 5px;
  width: 500px;
  height: 300px;
  padding: 15px;
  overflow: auto;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 596px;
  gap: 10px;
}

.form-group {
  margin-bottom: 15px;
}



.container_data_room {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    background-color: #ebebeb;
}

.day_section{
    box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.title_hour {
    font-weight: 700;
}

.lavel_abierto, .label_hours_open, .label_hours_close, .label_data_room {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}


.hours {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #ebebeb;
    padding: 15px;
    margin-top: 13px;
    border-radius: 10px;
}


.label_data_room > input {
    border: none;
    display: flex;
    color: #686b6e;
    padding: 10px;
}

.label_data_room > textarea {
    border: none;
    display: flex;
    color: #686b6e;
    padding: 10px;
    width: 300px;
    height: 100px;
    max-width: 300px;
    max-height: 100px;
}


.lavel_abierto > input {
    border: none;
    display: flex;
    color: #686b6e;
    padding: 10px;
}

.label_hours_open {

}

.label_hours_open > input {
    border: none;
    display: flex;
    color: #686b6e;
    padding: 10px;
}

.label_hours_close {

}

.container_service {
    box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.1);
    background-color: #ebebeb;
}

.new_service {
    
    padding: 10px;
    border-radius: 10px;
    display: flex;
   
    gap: 15px;
    align-items: flex-start;
}

.new_service > input {
    border: none;
    display: flex;
    color: #686b6e;
    padding: 10px;
}

.label_hours_close > input {
    border: none;
    display: flex;
    color: #686b6e;
    padding: 10px;
}

.container_image_info > input {
    border: none;
    display: flex;
    color: #686b6e;
    padding: 10px;
}

input:focus{
    outline: none;
    box-shadow: none; /* Elimina el borde de enfoque predeterminado */
  }
  
  /* Estilo opcional para el enfoque */
  input:focus {
    outline: none;
  }

  textarea:focus{
    outline: none;
    box-shadow: none; /* Elimina el borde de enfoque predeterminado */
  }
  
  /* Estilo opcional para el enfoque */
  textarea:focus {
    outline: none;
  }

  
.service_list {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .service_actions button {
    margin-left: 10px;
  }
  
  .new_service input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
  
  .image_form {
    box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.1);
    background-color: #ebebeb;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .image_form_group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
  }

  .container_image_info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }


  .container_image_info > textarea {
    border: none;
    display: flex;
    color: #686b6e;
    padding: 10px;
    width: 168px;
    height: 100px;
    max-width: 168px;
    max-height: 100px;
}


.container_dto_hors {
  display: flex;
  flex-direction: column-reverse;
}

.container_list_dto_hors {

}

.new_dto_hors {
  box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: #ebebeb;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dto_hors_info {
  display: flex;
  flex-direction: column;
}
.contianer_dto_hors_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contianer_dto_hors_info_button {
  display: flex;
  justify-content: flex-end;
}

.dto_hors_info_info {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.dto_hors_info_info > strong {

}