.room_container {
background-color: #c6b89e;
}

.container_room {

}

.room_calendar {
    
}

.room_calendar_reservation  {
    text-align: center;
}

.room_calendar_reservation_button {
    padding: 14px 22px;
    background-color: #9e2d49;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

.container_select {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.select {
    padding: 10px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #686b6e;
    margin: 10px;
  }